@{
  Layout ="_Layout";
}
@model Factory.Models.Machine


<div class="headder">
  <div class="jumbotron text-center">
    <h1>Factory Control</h1>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
  </div>

  <nav class="navbar sticky-top navbar-expand-sm">
    <div class="container">
      <p class="btn">@Html.ActionLink("Log repairs", "Edit", "Machines", new { id  = Model.MachineId })</p>
      <p class="btn">@Html.ActionLink("View Machines", "Index", "Machines")</p>
      <p class="btn">@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
      <p class="btn">@Html.ActionLink("Home", "Index", "Home")</p>
    </div>
  </nav>
</div>
<br />
<div class="container">
@if(@Model.JoinEntities.Count == 0)
{
  <p>This Machine does not have any assigned Engineers</p>
}
else
{
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
    }
  </ul>
}
</div>