@{
  Layout ="_Layout";
}
@model Factory.Models.Machine

<div class="headder">
  <div class="jumbotron text-center">
    <h1>Factory Control</h1>
    <h2>Edit @Html.DisplayFor(model => model.Name)</h2>
  </div>

  <nav class="navbar sticky-top navbar-expand-sm">
    <div class="container">
      <p class="btn">@Html.ActionLink("View Machines", "Index", "Machines")</p>
      <p class="btn">@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
      <p class="btn">@Html.ActionLink("Home", "Index", "Home")</p>
    </div>
  </nav>
</div>
<div class="container">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)
    
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    @Html.Label("Repair Needed: ")
    @Html.EditorFor(model => model.Broken)
    
    @Html.Label("Repair in progress: ")
    @Html.EditorFor(model => model.UnderRepair)
    
    <button type="submit" class="btn">Submit Changes</button>
  }
</div>