@{
  Layout ="_Layout";
}
@model Factory.Models.Engineer

<div class="jumbotron text-center">
  <h1>Factory Control</h1>
  <h2>Add New Engineer</h2>
</div>

<nav class="navbar sticky-top navbar-expand-sm">
  <div class="container">
    <p class="btn">@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
    <p class="btn">@Html.ActionLink("View Machines", "Index", "Machines")</p>
    <p class="btn">@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</nav>

<div>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model = model.Name)
    
    <button type="submit">Add</button>
  }
</div>

