@{
  Layout ="_Layout";
}
@model Factory.Models.Engineer

<div class="jumbotron text-center">
  <h1>Factory Control</h1>
  <h2>Engineer: @Html.DisplayFor(model => model.Name)</h2>
</div>

<nav class="navbar sticky-top navbar-expand-sm">
  <div class="container">
    <p class="btn">@Html.ActionLink("View Engineers", "Index", "Engineers")</p>
    <p class="btn">@Html.ActionLink("View Machines", "Index", "Machines")</p>
    <p class="btn">@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</nav>



<div class="container">
  
    @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)
    
    @Html.Label("Add new machine assignment  ")
    @Html.DropDownList("MachineId")
    <br/>
    <button type="submit">Add Machine Assignment</button>
  }
  <hr />
  
  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This Engineer is currently unassigned.</p>
  }
  else
  {
    
    <table class="table">
    <tr>
      <th>Machines</th>
      <th>Remove Machine</th>
    </tr>
    <td>
      @foreach (var join in Model.JoinEntities)
      {
        @Html.ActionLink(@join.Machine.Name, "Details", "Machine", new { id = join.Machine.MachineId })
      }
    </td>
    <td>
      @foreach (var join in Model.JoinEntities)
      {
        <button class="btn btn-danger">@Html.ActionLink("Remove Machine", "Delete", new { id = join.Machine.MachineId })</button>
      }
    </td>
  </table>
      
    
  }
</div>