@{
  Layout ="_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Engineer>

<div class="jumbotron text-center">
  <h1>Factory Control</h1>
  <h2>Engineers</h2>
</div>

<nav class="navbar sticky-top navbar-expand-sm">
  <div class="container">
    <p class="btn">@Html.ActionLink("Add Engineers", "Create", "Engineers")</p>
    <p class="btn">@Html.ActionLink("View Machines", "Index", "Machines")</p>
    <p class="btn">@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</nav>

<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Remove</th>
    </tr>
    <td>
      @foreach (Engineer engineer in Model)
      {
        <tr>
            <td>
              @Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })
            </td>
            <td>
              <button class="btn btn-danger">@Html.ActionLink("Remove From Roll", "Delete", new { id = engineer.EngineerId })</button>
            </td>
        </tr>
      }
  </table> 
</div>